<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MVC Frame work project</title>
    <link rel="stylesheet" href="/public/css/style.css">
</head>
<body>
      <div class="">
        <img src="https://img.freepik.com/free-photo/sunset-race_23-2151952483.jpg?t=st=1744001934~exp=1744005534~hmac=795fbe1eb4ed604005e6ceb3820475eeb980fcbe5ea4116a1454ffc899fcbad0&w=1380" alt="Image">
        <h1 class="one">Car Accessories </h1>
        <li class="reg"><a href="./Register">Register Form</a></li>
        <li class="login"><a href="/Login">Login</a></li>
 
      </div>

</body>
</html>