<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MVC Frame work project</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body class="Loginpage">
    <img src="https://img.freepik.com/free-photo/sunset-race_23-2151952483.jpg?t=st=1744001934~exp=1744005534~hmac=795fbe1eb4ed604005e6ceb3820475eeb980fcbe5ea4116a1454ffc899fcbad0&w=1380">
     <h1>Login</h1>

    <form action="/Login" method="post">
        <label class="user">User Name:</label>
        <input class="user" type="text" name="username" placeholder="user name" required><br><br>
        
        <label class="password">Password:</label>
        <input class="password" type="password" name="password" placeholder="Enter your Password" required><br><br>
        
        <button class="sub">Login</button>

    </form>
    
</body>
</html>