<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MVC Frame work project</title>
    <link href="https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
</head>
<body id="outputpage">
    <img src="https://img.freepik.com/free-photo/white-offroader-jeep-parking_114579-4007.jpg?t=st=1743745135~exp=1743748735~hmac=4c480aea0eae1fae85248fdbb48ad50c1c658841d834786a8ad49a05eb6420d5&w=1380">
     <div class="main">
        Congratulation You <span>"Create new account"</span><br>
        Welcome
     </div>

    <li class="but">
       <button><a href="logout">Logout</a></button>
    </li>
    
</body>
</html>