<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MVC Frame work project</title>
    <link rel="stylesheet" href="/public/css/style.css">
</head>
<body class="Register" id="one">
    <img src="https://img.freepik.com/premium-photo/black-sports-car-with-number-37-back_1097779-3405.jpg?ga=GA1.1.1202282667.1743744696&semt=ais_hybrid&w=740">
    <h1>Register Form</h1>
    <form action="/Register" method="post">

        <lable >User Name</lable>
       <input  type="text" name="username" placeholder="Enter your name" required><br><br>

         <label >Phone No</label>
         <input  type="number" name="number" placeholder="Enter your number" required><br><br>

         <label >DOB</label>
         <input type="date" name="dob" placeholder="Enter your Date Of Birth" required><br><br>

         <label>Address</label>
        <input  type="address" name="address" placeholder="Enter your address" required><br><br>

        <label>Licence</label>
        <input  type="text" name="licence" placeholder="Enter your licence"><br><br>

        <label>Password</label>
        <input type="password" name="password" placeholder="Enter your password" required><br><br>

        <button onclick="Singin">Singin</button>
         





    </form>

    
</body>
</html>